.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__header {
  padding-top: 28px;
  padding-left: 28px;
  margin: 0 0 24px 0;
}

.modal__content {
  position: relative;
  flex-shrink: 0;
  background-color: #fff;

  width: 100%;

  border-radius: 20px;
}

.modal__content_type_add-garment {
  max-width: 496px;
  height: 436px;
}

.modal__content_type_image {
  max-width: 498px;
  height: 610px;
}

.modal__content_type_delete {
  display: flex;
  position: relative;
  max-width: 670px;
  height: 280px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal__image {
  width: 100%;
  height: 498px;
  border-radius: 16px 16px 0px 0px;
}

.modal__close-btn {
  background: transparent url(../images/close_btn_type_form.svg) center
    no-repeat;
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  right: 28px;
  top: 20px;
  cursor: pointer;
}

.modal__info {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-auto-rows: minmax(10px, auto);
  row-gap: 12px;
  margin: 12px 32px 0 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__delete-btn {
  padding: 0;

  text-align: end;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ff4d00;
  background: none;
  border: none;
  grid-column: 3;
  grid-row: 1;
  cursor: pointer;
}

.modal__close-btn_type_image {
  background: transparent url(../images/close_btn_type_image.svg) center
    no-repeat;
}

.modal__image-text-one {
  margin: 0;
  grid-column: 1/3;
  grid-row: 1/3;
}

.modal__image-text-two {
  margin: 0;
  grid-column: 1/3;
  grid-row: 2/3;
}

.modal__delete-text {
  margin: 0;
  position: absolute;
  top: 60px;
  text-align: center;
  width: 367px;
  height: 48px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.modal__button {
  padding: 0;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.modal__delete-item-btn {
  margin-top: 60px;
  color: #ff4d00;
}

.modal__cancel-btn {
  margin-top: 24px;
}
