.profile {
  display: flex;
  padding-top: 63px;
}

.profile__cards_visible {
  visibility: visible;
}

.profile__cards_invisible {
  display: none;
}

.profile__sidebar {
  display: flex;
  flex-direction: column;
  width: 229px;
  height: 138px;
}

.profile__sidebar-header {
  display: flex;
  flex-direction: row;
}

.profile__sidebar-picture {
  border-radius: 50%;
  margin-right: 16px;
  width: 56px;
  height: 56px;
}

.profile__sidebar-text {
  padding-right: 116px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 160px;
}

.profile__header {
  display: flex;
}

.profile__header-text {
  padding-left: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile__add-clothes-button {
  margin-left: 20px;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
}

.profile__sidebar-button-one {
  cursor: pointer;
  text-align: start;
  background: none;
  border: none;
  width: 171px;
  height: 25px;
  font-weight: 700;
  line-height: 24.8px;
}

.profile__sidebar-button-two {
  cursor: pointer;
  text-align: start;
  background: none;
  border: none;
  width: 65px;
  height: 25px;
  font-weight: 700;
  line-height: 24.8px;
}
